*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}


body {
    text-align: center;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    background-color: #b1a6a6;
    width: 80vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 20px;
    border-radius: 8px;
}

label {
    display: block;
}

span {
    position: relative;
    font-size: 22px;
    bottom: -3px;
}

html, body {
    height: 100%;
}



h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    box-shadow: 5px 10px #888888;
    background-color: antiquewhite;
    animation: flashing 15s infinite;
}

h2 {
    margin: 1em 0 0.25em;
    background-color: #fff;
    box-shadow: 5px 2px #888888;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: separate;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    box-shadow: 5px 10px #888888;
    background-color: aqua;
}

input[type="number"] {
    width: 6em;
}

